DB_NAME=booking_db
DB_USERNAME=booking_user
DB_PASSWORD=booking_password
DB_HOST=localhost
DB_PORT=5432
DB_URL=jdbc:postgresql://localhost:5432/booking_db

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

POSTGRES_CONTAINER_NAME=async-booking-postgres
RABBITMQ_CONTAINER_NAME=async-booking-rabbitmq
